.fixed-label-width {
    flex: 0 0 150px;
}

@media screen and (min-width: 576px) {
    .form-control.custom-input-width {
        flex: 0 0 300px;
    }

    .custom-button-width {
        flex: 0 0 450px;
    }

    .custom-card-width {
        flex: 0 0 500px;
    }
}

/*On screens that are 600px or less, set the background color to olive*/
@media screen and (max-width: 576px) {
    .form-control.custom-input-width {
        flex: 1 1 100px;
        min-width: 100px;
    }

    .custom-button-width {
        flex: 1 1 100px;
        min-width: 100px;
    }

    .custom-button-width {
        flex: 1 1 100px;
        min-width: 100px;
    }
}
