* {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    text-decoration: none;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}